<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapok.brianramirez.kapok">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogInActivity"
            android:parentActivityName=".WelcomeActivity"
            android:label="Log In"/>

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".WelcomeActivity"
            android:label="Register" />

        <activity
            android:name=".ProfileSetupActivity"
            android:parentActivityName=".RegisterActivity"
            android:label="Profile Setup"
            />

        <activity android:name=".TeamWelcomeActivity"
            android:label="Teams"/>

        <activity android:name=".CreateTeamActivity"
            android:label="CreateTeam"/>

        <activity android:name=".MapActivity"
            android:label="Map"/>

        <activity android:name=".LogListViewActivity"
            android:label="Log: List View"/>

        <activity android:name=".LogMakingActivity"
            android:label="Log Maker"/>

        <activity android:name=".ShowLogActivity"
            android:label="Log"/>

        <activity android:name=".WaitingScreenActivity"
            android:label="Team Code"/>

        <activity android:name=".JoinTeam"
            android:label="Join Team"/>

        <activity android:name=".JoinWaitActivity"
            android:theme="@style/FullScreen"
            android:label="Waiting Screen"/>

    </application>

</manifest>