<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kapok.brianramirez.kapok">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AssignedLogActivity"></activity>

        <service
            android:name=".DatabaseListener"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Intro" />
        <activity android:name=".AdminChangeActivity" />
        <activity android:name=".userVerifyActivity" />
        <activity
            android:name=".TeamJoinRequestActivity"
            android:label="Requests"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LogInActivity"
            android:label="Log In"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".WelcomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileSetupActivity"
            android:label="Profile Setup" />
        <activity
            android:name=".TeamWelcomeActivity"
            android:label="Teams" />
        <activity
            android:name=".CreateTeamActivity"
            android:label="CreateTeam"
            android:parentActivityName=".TeamWelcomeActivity" />
        <activity
            android:name=".MapActivity"
            android:label="Map" />
        <activity
            android:name=".TeamDIsplayActivity"
            android:label="Team Members"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".LogListViewActivity"
            android:label="Log: List View"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".LogMakingActivity"
            android:label="Log Maker"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".LogInActivity" />
        <activity
            android:name=".ShowLogActivity"
            android:label="Log"
            android:parentActivityName=".LogListViewActivity" />
        <activity
            android:name=".ShowMemberActivity"
            android:label="Member Info"
            android:parentActivityName=".TeamDIsplayActivity" />
        <activity
            android:name=".TeamCodeDisplayActivity"
            android:label="Team Code"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".WaitingScreenActivity"
            android:label="Team Code" />
        <activity
            android:name=".JoinTeamActivity"
            android:label="Join Team"
            android:parentActivityName=".TeamWelcomeActivity" />
        <activity
            android:name=".JoinWaitActivity"
            android:label="Waiting Screen"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".EditNotesActivity"
            android:label="Edit Notes"
            android:parentActivityName=".ShowLogActivity" />
    </application>

</manifest>